app_name=testapp
# The host name or ip addresss of the host that is running the log tailing agent
host_name=sangana_mac
# The name of log files that needs to be tailed
log_files=app1.log,app2.log
# The path of the log files named above in the same order
log_paths=/Users/sanganas@us.ibm.com/logger,/Users/sanganas@us.ibm.com/logger
# The Log Aggregator Server URL
server_url=http://localhost:8080/api/logs/append
